.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: #dd490f;
  font-size: 450%;
  font-weight: 100;
}

h2 {
  font-size: 200%;
  font-weight: 400;
}

ul {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

.button {
  width: 250px;
  height: 70px;
  margin: 10px;
  font-size: 150%;
  background: #dd490f;
  color: white;
  border: none;
  border-radius: 5px;
}

.button:focus {
  outline: none;
}

.single-list {
  overflow-y: auto;
  margin-top: 0;
}

.text-input {
  border: none;
  border-bottom: 1px solid gray;
  font-size: 150%;
  color: #dd490f;
  border-color: #dd490f;
}

.text-input:hover {
  outline: none;
}

::placeholder {
  color: #dd490f59;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 400%;
  }

  .button {
    font-size: 200%;
    width: 275px;
    height: 75px;
  }

  .toggle-button {
    font-size: 125%;
    width: 150px;
    height: 60px;
  }
}

@media (max-width: 900px) {
  .selection-button {
    width: 200px;
    font-size: 175%;
  }
}

@media (max-width: 700px) {
  .selection-button {
    font-size: 150%;
    display: block;
    width: 80%;
    height: 25%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 200%;
  }

  .button {
    font-size: 100%;
    width: 150px;
    height: 50px;
  }

  .toggle-button {
    font-size: 100%;
    width: 100px;
    height: 40px;
  }

  .selection-button {
    font-size: 125%;
    width: 80%;
    height: 25%;
  }
}
