#ready-table {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  margin-top: 50px;
  /* background-color: blue; */
  padding: 0px;
}

li.ready-user {
  text-align: right;
  max-height: 100px;
  font-size: 250%;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #dd490fa9;
  padding: 10px;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 300;
}

.add-user {
  width: 0;
  animation: new-item-animation 0.2s linear forwards;
}

.removing-user {
  animation: remove-item-animation 0.2s linear forwards;
}

.moving-up {
  animation: move-item-up-animation 0.2s linear forwards;
}

@keyframes new-item-animation {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes remove-item-animation {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}

@keyframes move-item-up-animation {
  from {
    transform: translateY(70px);
  }

  to {
    transform: translateY(0px);
  }
}

@media (max-width: 600px) {
  #ready-table {
    width: 20%;
    margin-top: 20px;
  }

  li.ready-user {
    max-height: 20px;
    font-size: 100%;
    padding: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  @keyframes move-item-up-animation {
    from {
      transform: translateY(30px);
    }

    to {
      transform: translateY(0px);
    }
  }
}
