#drawing-game-01-main-header {
  margin: 10px;
}

#feedback-text {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 150%;
  font-weight: 300;
  width: 40%;
}

#main-feedback {
  font-size: 60%;
}

#main-feedback h2 {
  font-size: 200%;
  margin: 0px;
}

#user-score h2 {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 3%;
  color: #dd490f;
  font-size: 500%;
  font-weight: 400;
}

.main-feedback-correct-answer {
  color: rgb(29, 189, 29);
  font-weight: bold;
}

.main-feedback-incorrect-answer {
  color: rgb(182, 19, 19);
  font-weight: bold;
}

.main-feedback-answer {
  color: rgb(29, 189, 29);
  font-weight: bold;
}

.main-feedback-guess {
  color: rgb(182, 19, 19);
  font-weight: bold;
}

.feedback-is-true {
  color: white;
  background-color: rgba(29, 189, 29, 0.8);
  border-radius: 10px;
  animation: fadein 2s;
}

.feedback-is-false {
  color: white;
  background-color: rgba(182, 19, 19, 0.8);
  border-radius: 10px;
  animation: fadein 1s;
}

.feedback-not-given {
  color: gray;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.timer-bar {
  height: 5px;
  background-color: #dd490f;
}

#timer-wrapper {
  margin: auto;
  width: 80%;
}

#readytrue {
  background-color: #dd490f;
  color: white;
  box-shadow: 0 0 10px 4px #dd490fc9;
}

#readyfalse {
  background-color: white;
  color: #dd490f;
  border: 2px solid #dd490f;
}

@media (max-width: 600px) {
  #main-feedback {
    font-size: 80%;
  }

  #feedback-text {
    font-size: 90%;
    width: 85%;
  }

  #user-score h2 {
    padding-right: 20px;
    font-size: 200%;
    font-weight: 300;
  }
}
