#drawing-game-01-main-header {
  margin: 10px;
}

#feedback-text {
  color: grey;
  margin: 10px;
  font-size: 125%;
}

.timer-bar {
  height: 5px;
  background-color: #dd490f;
}

#timer-wrapper {
  margin: auto;
  width: 80%;
}

#readytrue {
  background-color: #dd490f;
  color: white;
  box-shadow: 0 0 10px 4px #dd490fc9;
}

#readyfalse {
  background-color: white;
  color: #dd490f;
  border: 2px solid #dd490f;
}
