.output-result-container {
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 35vh;
  width: 100%;
  transform: translate(-50%, 0);
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.output-result {
  padding: 10px;
  width: 100%;
}

.output-result h1 {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.result-text {
  font-weight: bold;
  font-size: 250%;
}

.output-result-incorrect .result-text {
  color: rgb(201, 13, 13);
}

.output-result-correct .result-text {
  color: #1ca03d;
}

.output-result-text {
  font-style: italic;
}

.peer-username {
  font-weight: bold;
}
