.user-list {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 30px;
  top: 20vh;
  padding: 0px;
  margin: 0px;
  width: 60%;
  height: 55vh;
  overflow-y: auto;
}

.user-item {
  position: relative;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 5px;
  font-size: 250%;
  font-weight: 100;
  color: gray;
}

.current-user {
  color: #dd490f;
}

.leader {
  font-weight: bold;
}

.leaders-crown {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 60%;
}
