#intermission-leaderboard {
  position: absolute;
  left: 50%;
  top: 10%;
  height: 50vh;
  width: 70%;
  transform: translate(-50%, 0);
  overflow-y: auto;
  background-color: #dd490f;
}
#intermission-leaderboard span {
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: inline-block;
}

#intermission-leaderboard h2 {
  margin: 10px;
  font-weight: 100;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leaderboard-name {
  width: 60%;
}

.leaderboard-score {
  width: 40%;
}

#intermission-leaderboard li.pos-1 h2 {
  font-weight: bold;
  font-size: 325%;
  text-shadow: 0px 0px 10px #ffd900;
}

#intermission-leaderboard li.pos-2 h2 {
  font-size: 250%;
  text-shadow: 0px 0px 5px #ffffff;
}

#intermission-leaderboard li.pos-3 h2 {
  text-shadow: 0px 0px 5px #ffffff;
}

@media (max-width: 600px) {
  #intermission-leaderboard h2 {
    font-size: 150%;
  }

  #intermission-leaderboard li.pos-1 h2 {
    font-size: 250%;
  }

  #intermission-leaderboard li.pos-2 h2 {
    font-size: 200%;
  }
}
